.main_page_title {
  color: #eb5757;
}

.main_links {
  height: 60%;
  width: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
