#root {
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

html {
  min-height: 100vh;
  background-image: url(../../public/white-parchment-paper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playfair Display", serif;
  font-family: "Special Elite", cursive;
}

.loaded-route {
  flex-direction: column;
  display: flex;
  min-height: 85vh;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

body {
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
