body,
html {
  // min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-image:url("../../../../public/DeskpotForm.jpg");
  background-color: bisque;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.15rem;
  font-weight: lighter;
  color: white;
}

div,
span,
h1,
h2,
h3,
p,
a,
img,
ol,
ul,
li,
form,
label,
legend,
footer,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
