.form {
  h1 {
    margin-top: 100px;
    color: #eb5757;
  }

  form {
    border-radius: 25px 0 25px 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 70vh;

    input {
      padding: 10px;
    }
    input:hover {
      background-color: rgba(255, 0, 0, 0.2);
    }

    button {
      all: unset;
      width: 100px;
      height: 30px;
      font-size: 16px;
      background: transparent;

      position: relative;
      color: black;
      cursor: pointer;
      z-index: 1;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
  }
}
