.register_form {
  h1 {
    margin-top: 100px;
    color: #eb5757;
  }

  form {
    border-radius: 25px 0 25px 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 70vh;

    input {
      padding: 10px;
      background-color: rgb(236, 233, 233);
      width: 12rem;
      height: 2rem;
      border-radius: 1px;
      margin: 1rem;
      border: 2px solid rgb(222, 113, 113);
    }
    input:hover {
      background-color: rgba(255, 0, 0, 0.2);
    }

    button {
      background-color: rgb(235, 87, 87);
      color: antiquewhite;
      border-radius: 5px;
      font-size: 20px;
      margin-top: 30px;
      margin-left: 30px;
    }

    .email_div {
      margin-left: 32px;
    }
  }
}
