.login {
  height: 60%;
  width: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 100px;
    color: #eb5757;
  }
  .login-form {
    border-radius: 25px 0 25px 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 70vh;
  }
}

input {
  background-color: rgb(236, 233, 233);
  width: 12rem;
  height: 2rem;
  border-radius: 8px;
  margin: 1rem;
  border: 2px solid rgb(222, 113, 113);
}

input:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

input::placeholder {
  padding-left: 20px;
  color: rgb(40, 6, 6);
}

.subtitle {
  color: aliceblue;
}

a {
  color: rgba(0, 255, 229, 1) 100%;
}
